@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", sans-serif;
}
